<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestAutomationTask_APAR" >
    <test name="Testing Task Scenarios With Different TestCases " >
        <classes>
            <class name="testcases.TClass1_NavigateToPackages"/>
        </classes>
    </test>
</suite>


